HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s

POSTGRES_HOST=localhost
POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=test-db
PROJECT_ROOT={full_path}
POSTGRES_TIMEOUT=10s

LOGGER_LEVEL=DEBUG
LOGGER_FOLDER={full_path}/out/logs

TIME_ZONE=UTC